* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #201c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.note {
  background-color: #424040;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}

.notes {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.note-create-form {
  background-color: #2e2c2c;
  border-radius: 0.7rem;
  max-width: 50rem;
   display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

input, button {
  padding: 0.5rem;
   border-radius: 0.3rem;
   border: none;
}
